[submodule "RStatcastUtils"]
	path = RStatcastUtils
	url = https://github.com/pmelgren/RStatcastUtils.git
[submodule "baseballdatabase"]
	path = baseballdatabase
	url = https://github.com/pmelgren/baseballdatabase.git
[submodule "PitchTypeClassification"]
	path = PitchTypeClassification
	url = https://github.com/pmelgren/PitchTypeClassification.git
